@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

image { 
   position: relative;
   width: 500px;
   height: 750px;
}
h2 { 
   position: absolute; 
   top: 500px; 
   left: 270; 
   width: 100%; 
  padding:50px;
  font:50px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#ffffff;
  outline: #383838;
  f
  font-weight:300;
}
