@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);


image { 
    background-image:cover;
   position: relative;
   max-width: 100%;
   height: auto;
   padding: .5%;
}
h2 {
    
  position:relative;
    text-align:left;
    top: -70px;
  font:14/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#ffffff;
  
  font-weight:300;
}
