@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

image { 
   position: relative;
   width: 30%;
   height: 50%;
   padding: 30px;
}
h2 {
   position: absolute;
   top: 500px;
   left: 500px;
  font:50px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#ffffff;
  
  font-weight:300;
}
